body {
    background-color: #E7E6E6;
}


#header { 
    display: grid;
    align-items: center;
    background-color: #F5F5F5;
    padding: 15px;
    margin-block-start: 500px;
    margin-left: 150px;
    margin-right: 150px;
    text-align: center;
}